{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe _ Malewapp{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier mon mot de passe</h1>
            <hr>

            {% if notification %}
                <div class="alert alert-danger">{{ notification }}</div>

            {% else %}
                <div class="alert alert-success">{{ notification }}</div>
            {% endif %}

            {{ form(form) }}
        </div>
    </div>

{% endblock %}

