{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe _ Malewapp{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>Modifier mon mot de passe</h1>
                <hr>

                {% if notification %}
                    <div class="alert alert-danger">{{ notification }}</div>

                {% else %}
                    <div class="alert alert-success">{{ notification }}</div>
                {% endif %}


            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                {{ form(form) }}
            </div>
        </div>
    </div>


{% endblock %}

