{% extends 'base.html.twig' %}

{% block title %}Modifier mes infos _ Malewapp{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-4">Mettre à jour mes informations</h1>
            <hr>
            {{ form(form) }}
        </div>

    </div>

{% endblock %}

