{% extends 'base.html.twig' %}

{% block title %}Les recettes - Malewapp{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <p>Filtrer</p>
            {{ form(form) }}
            <hr>
        </div>
        <div class="col-md-9">

            <h3>Nos Recettes</h3>
            <div class="row">
                <!-- On affiche que les recettes publiques -->
                {% for recette in recettes %}
                    <div class="col-md-4">
                        {% include 'recette/single.html.twig' %}
                    </div>
                {% endfor %}

            </div>
            <div class="d-flex justify-content-center pagination mt-5">
                {{ knp_pagination_render(recettes)}}
            </div>
        </div>

    </div>

{% endblock %}


