<div class="card m-3" style="width: 16rem; height: 20rem;">
    <a href="{{ path('app_show',{'slug': recette.slug}) }}">
        <img src="/uploads/{{ recette.image }}" alt="{{recette.name  }}"  class="img-fluid image_size">
    </a>
    <div class="card-body">
        <h5 class="card-title text-center text-capitalize" >{{ recette.name }}</h5>
    </div>
</div>



