<div class="card mb-4" style="width: 17rem;">
    <a href="{{ path('recette',{'slug': recette.slug}) }}">
        <img src="/uploads/{{ recette.image }}" alt="{{recette.name  }}"  class="img-fluid image_size">
    </a>
    <div class="card-body">
        <h5 class="card-title text-center text-capitalize" >{{ recette.name }}</h5>
    </div>
</div>



