{% extends 'base.html.twig' %}

{% block title %}Nous Contacter - Malewapp{% endblock %}

{% block content %}
    <div class="row my-5">
        <div class="col-md-6 mx-auto">
            <h1>Nous Contacter</h1>
            <p class="pb-5">n'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs delais </p>
            {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
            {% endif %}

            {{ form(form) }}
        </div>
    </div>

{% endblock %}
