{% extends 'base.html.twig' %}

{% block title %}Edit Recette{% endblock %}

{% block body %}
    <h1>Edit Recette</h1>

    {{ include('recettecrud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recettecrud_index') }}">back to list</a>

    {{ include('recettecrud/_delete_form.html.twig') }}
{% endblock %}
