{% extends 'base.html.twig' %}

{% block title %}SpecialiteProvince index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="fw-bold text-center">Recette de la province {{ province.libelle }}</h1>
            <div class="col-12 col-md-6">

                <!-- On affiche que les recettes publique -->
                {% for recette in recettes %}
                    <div class="col-12 col-md-4 ">
                        {% include 'recette/single.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
